.sintesis{
  background-color:black;
  color: white;
  height: 70px;
  text-align: left;
  font-family: Arial;
}


.titulo{
display: inline-block;
margin-top: 1.5em;
font-size: 18.5px;
}

.tab {
  margin-bottom: 55em;
  margin-left: 10em;
  display: inline-block;
}

.tab button {
  background-color: inherit;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #f1f1f1;
  font-family: Arial;
  padding-left: 5em;
  padding-right: 5em;
}


.container{

}


#footer {
  background-color: #1f2022;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 8em;
}


#footer h6 {
  font-size: 1em;
}

#footer ul {
  font-size: 0.8em;
}


.footer-column{
 margin: 4em;
margin-top: 6em;
}

.footer-column ul {
  list-style-type: none;
  margin-top: 3em;
  padding: 0;
}
